@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #f9fafb;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #171717;
    --background: #f9fafb;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #111827;
  }
}

html {
  overflow-y: scroll;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styles for react-datepicker */
.react-datepicker {
  @apply font-sans border border-gray-300 dark:border-gray-500 bg-white dark:bg-gray-800 shadow-lg;
  display: flex !important;
}

.react-datepicker__month-container {
  float: none !important;
}

.react-datepicker__header {
  @apply bg-gray-50 dark:bg-gray-700 border-gray-300 dark:border-gray-500;
}

.react-datepicker__day {
  @apply hover:bg-blue-100 dark:hover:bg-blue-600 dark:text-gray-100;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  @apply bg-blue-600 text-white hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-700;
}

.react-datepicker__day--selected:not(.react-datepicker__day--in-range) {
  @apply bg-blue-600 text-white hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-700;
}

.react-datepicker__day--in-range:not(.react-datepicker__day--selected) {
  @apply bg-blue-100 dark:bg-blue-800 text-black dark:text-gray-100;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-blue-500 text-white hover:bg-blue-600 dark:bg-blue-700 dark:hover:bg-blue-800;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-blue-200 dark:bg-blue-700;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  @apply bg-blue-50 dark:bg-blue-600;
}

.react-datepicker-popper {
  @apply z-50;
}

.react-datepicker-wrapper {
  @apply w-full;
}

/* Custom Swiper styles */
.swiper-button-next,
.swiper-button-prev {
  @apply text-white opacity-75 hover:opacity-100 transition-opacity;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 50%;
  color: #000 !important;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.swiper-pagination-bullet {
  @apply bg-white opacity-75;
}

.swiper-pagination-bullet-active {
  @apply opacity-100;
}

/* Add fade gradients to edges */
.carousel-container {
  position: relative;
}

.carousel-container::before,
.carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.3), transparent);
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,0.3), transparent);
}
